<!DOCTYPE html>
<html lang="en">
<head>
    <!--incluimos partials del head-->
    <%- include('./../partials/head') %>

    <title>Donas - Detail</title>
</head>
<body class="body-abm">

    <!--incluimos partials del header-->
    <%- include('./../partials/header') %>
    <!-- Inicio Form ABM-->
    <main class="register">
        <section class="section-abm">
            <h3>ABM de Producto</h3>
            <form action="/" method="POST">
                <div class="field-div">
                    <label class="label-field register-h2" for="fullname">Nombre:</label>
                    <input class="field-text" type="text" name="fullname" id="fullname" maxlength="50" placeholder="Nombre de producto">
                </div>
                <div class="field-div">
                    <label class="label-field register-h2" for="description">Descripción:</label>
                    <input class="field-text" type="text" name="description" id="description" maxlength="100" placeholder="Descripción de producto">
                </div>
                <div class="field-div">
                    <label class="label-field  register-h2" for="price">Precio:</label>
                    <input class="field-text" type="text" name="price" id="price" maxlength="5" placeholder="Precio del Producto">
                </div>
                <div class="row radio">
                    <label class="label-field  register-h2" for="discount">Descuento:</label>
                    <label> Si
                        <input type="radio" name="discount" value="Si">
                    </label>
                    <label>No
                        <input type="radio" name="discount" value="No">
                    </label>
                </div>
                <div class="field-div">
                    <label class="label-field  register-h2" for="discountValue">Valor de Descuento:</label>
                    <input class="field-text" type="text" name="discountValue" id="discountValue" maxlength="8" placeholder="10 % Off">
                </div>
                <div class="field-div">
                    <label class="label-field  register-h2" for="images">Foto de Dona: </label>
                    <input class="field-text" type="file"  id="images" name="images" accept=".png, .jpg">
                </div>

            </form>
        </section>
    </main>


    
    <!--incluimos partials del footer-->
    <%- include('./../partials/footer') %> 
    
</body>
</html>