<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/99f3138e9d.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <title>Donas</title>
    </head>
    <body>
        <header class="main-header">
            
                <div class="logo-search">
                    <div class="main-header-top-bar">
                        <a href="/"><img src="/img/logo.jpg" class="logo"></a>       
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <div class="icono">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>                    
                    </div>        
                </div>
               
                <a href="#" class="hamburguer-button">
                    <i class="fas fa-bars"></i>
                </a>
                
                <nav class="main-navbar">
                    <ul class="left-navbar">
                        <li><a href="#">Donas</a></li>
                        <li><a href="#">Promociones</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
        
                    <ul class="right-navbar">
                        <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="/productCart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
            
        </header>
        <section class="banner">
            <img src="img/banner2.png" alt="Banner de ofertas">
        </section>
        <main>
            <div class="contendor">
                <section>
                    <h2 class="title-h2">Elige tu Dona</h2>
                    <div class="products">
                        <article>                     
                            <img src="/img/dona-turquesa.jpg" class="product_img" alt="Turquesa">
                                <div class="main-article">
                                    <i class="fab fa-hotjar"></i>
                                    <p class="price">$100</p>
                                    <p class="discount">40% OFF</p>
                                    <a href="/productDetail"><h4 class="description">Dona Turquesa</h4></a>
                                </div>               
                        </article>
                        
                        <article>
                            <img src="/img/dona-fuxia.jpg" class="product_img" alt="fuxia">
                                <div class="main-article">
                                    <img src="/img/ico-donut.jpg" class="ico" alt="Turquesa">
                                    <p class="price">$100</p>
                                    <p class="discount">0% OFF</p>
                                    <h4 class="description">Dona Fuxia</h4>
                                </div>
                        </article>


                        <article>
                            <img src="/img/dona-blanca.jpg" class="product_img" alt="blanca">
                            <div class="main-article">
                                <img src="/img/ico-donut.jpg" class="ico" alt="Blanca">
                                <p class="price">$100</p>
                                <p class="discount">0% OFF</p>
                                <h4 class="description">Dona Blanca</h4>           
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-choco.jpg" class="product_img" alt="choco">
                            <div class="main-article">
                                <img src="/img/ico-donut.jpg" class="ico" alt="Choco">
                                <p class="price">$100</p>
                                <p class="discount">0% OFF</p>
                                <h4 class="description">Dona Blanca</h4>
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-verde.jpg" class="product_img" alt="verde">
                            <div class="main-article">
                                <div class="main-article">
                                    <i class="fab fa-hotjar"></i>
                                    <p class="price">$150</p>
                                    <p class="discount">30% Off</p>
                                    <h4 class="description">Dona Verde</h4>
                                </div> 
                                
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-krispi.jpg" class="product_img" alt="krispi">
                            <div class="main-article">
                                <div class="main-article">
                                    <img src="/img/ico-donut.jpg" class="ico" alt="Turquesa">
                                    <p class="price">$160</p>
                                    <p class="discount">0% OfF</p>
                                    <h4 class="description">Dona Krispi</h4>
                                </div> 
                                
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-glaseada-blanca.jpg" class="product_img" alt="glaseada-blanca">
                            <div class="main-article">
                                <div class="main-article">
                                    <i class="fab fa-hotjar"></i>
                                    <p class="price">$80</p>
                                    <p class="discount">50% Off</p>
                                    <h4 class="description">Dona Glaseada Blanca</h4>
                                </div> 
                           
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-choco-krispi.jpg" class="product_img" alt="choco-krispi">
                            <div class="main-article">
                                <div class="main-article">
                                    <img src="/img/ico-donut.jpg" class="ico" alt="Turquesa">
                                    <p class="price">$110</p>
                                    <p class="discount">0% OFF</p>
                                    <h4 class="description">Dona Choco-Krispi</h4>
                                </div> 
                            
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="container-footer">
                <div class="main-footer">
                    <div class="control-footer">
                        <h3>INSTITUCIONAL</h3>
                        <nav>
                            <ul>
                                <li><a href="#">Locales</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Formulario de Contacto</a></li>
                                <li><a href="#">Franquicia</a></li>
                                <li><a href="#">Trabaja para Nosotros</a></li>
                            </ul>
                        </nav>  
                    </div>
                
                    <div class="control-footer">
                        <h3>AYUDA</h3>
                        <nav>
                            <ul>
                                <li><a href="#">Preguntas Frecuentes</a></li>
                                <li><a href="#">Términos y Condiciones</a></li>
                                <li><a href="#">Promociones</a></li>                               
                                <li><button class="button-footer" type="Send">ME ARREPENTÍ</button></li>
                                <p><em><strong>* Solicitud de cancelación de compras</strong></em></p>
                            </ul>
                        </nav> 
                    </div>
                
                    <div class="control-footer">
                        <nav>
                            <h3>SEGUINOS EN</h3>
                            <div class="icon-footer"><i class="fab fa-facebook-f"></i>
                                <p>Facebook</p>
                            </div>
                            <div class="icon-footer"><i class="fab fa-instagram"></i>
                                <p>Instagram</p>
                            </div>
                            <div class="icon-footer"><i class="fab fa-twitter"></i>
                                <p>Twitter</p>
                            </div>
                            <div class="icon-footer"><i class="fab fa-tiktok"></i>
                                <p>Tik Tok</p>
                            </div>
                            <div class="icon-footer"><i class="fab fa-pinterest"></i>
                                <p>Pinterest</p>
                            </div>
                        </nav>
                    </div>  
                </div>
                <div class="extra-footer-bottom">
                    <p>&copy; 2021 grupo_10_donuts. Todos los derechos reservados</p>
                </div>
                </footer>
            </div>
        </footer>            
    </body>
</html>