<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="css/normalize.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/99f3138e9d.js" crossorigin="anonymous"></script>
        <title>Donas</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="contendor">

            </div>
        </header>
        <main>
            <div class="contendor">
                <section>
                    <h2 class="title-h2">Elige tu Dona</h2>
                    <div class="main-article">
                        <img src="/img/dona-turquesa.jpg" class="product_img" alt="Turquesa">
                    </div>
                    <div class="main-article">
                        <img src="/img/dona-fuxia.jpg" class="product_img" alt="fuxia">
                    </div>
                    <div class="main-article">
                        <img src="/img/dona-blanca.jpg" class="product_img" alt="blanca">
                    </div>
                    <div class="main-article">
                        <img src="/img/dona-choco.jpg" class="product_img" alt="choco">
                    </div>
                    <div class="main-article">
                        <img src="/img/dona-rosa.jpg" class="product_img" alt="rosa">
                    </div>
                    <div class="main-article">
                        <img src="/img/dona-krispi.jpg" class="product_img" alt="krispi">
                    </div>
                    <div class="main-article">
                        <img src="/img/dona-glaseada-blanca.jpg" class="product_img" alt="glaseada-blanca">
                    </div>
                    <div class="main-article">
                        <img src="/img/dona-choco-krispi.jpg" class="product_img" alt="choco-krispi">
                    </div>
                </section>
            </div>
        </main>
        <footer>
            <div class="contendor">
                <div class="main-footer">
                    <div class="control-footer">
                        <h2>INSTITUCIONAL</h2>
                        <nav>
                            <ul>
                                <li><a href="#"><i class="far fa-greater-than"></i>Locales</a></li>
                                <li><a href="#"><i class="far fa-greater-than"></i>Contacto</a></li>
                                <li><a href="#"><i class="far fa-greater-than"></i>Formulario de Contacto</a></li>
                                <li><a href="#"><i class="far fa-greater-than"></i>Franquicia</a></li>
                                <li><a href="#"><i class="far fa-greater-than"></i>Trabaja para Nosotros</a></li>
                            </ul>
                        </nav>  
                    </div>
                
                    <div class="control-footer">
                        <h2>AYUDA</h2>
                        <nav>
                            <ul>
                                <li>> <a href="#">Preguntas Frecuentes</a></li>
                                <li><a href="#"><i class="far fa-greater-than"></i>Términos y Condiciones</a></li>
                                <li><a href="#"><i class="far fa-greater-than"></i>Promociones</a></li>                               
                                <li><a href="#"><i class="far fa-greater-than"></i>ME ARREPENTÍ</a></li>
                            </ul>
                        </nav> 
                    </div>
                
                    <div class="control-footer">
                        <h2>SEGUINOS EN</h2>
                        <div class="icono-footer"><i class="fab fa-facebook-f"></i>
                            <p>Facebook</p>
                        </div>
                        <div class="icono-footer"><i class="fab fa-instagram"></i>
                            <p>Instagram</p>
                        </div>
                        <div class="icono-footer"><i class="fab fa-twitter"></i>
                            <p>Twitter</p>
                        </div>
                        <div class="icono-footer"></div><i class="fab fa-tiktok"></i>
                            <p>Tik Tok</p>
                    </div>
                    </div>  
                </div>    
                </footer>
            </div>
        </footer>            
    </body>
</html>