<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/99f3138e9d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Donas - Carrito</title>
</head>
<body>
    <header class="main-header">
            <a href="/"><img src="/img/logo.jpg" class="logo"></a>                       
    </header>
    <main class="productCart">
        <div class="contenedor">
            <section class="section-productCart">
                <h2 class="title-h2">Carrito de Compras</h2>
                <nav class="main-navcart">
                    <ul class="left-navcart">
                        <li>Productos</li>
                    </ul>
                    <ul class="right-navcart">
                        <li>Subtotal</li>
                    </ul>
                </nav>
                <div class="prod-container">
                    <div class="products-cart">
                        <article>                   
                            <img src="/img/dona-turquesa.jpg" class="product-img" alt="Turquesa">
                                <div class="desc-cart">
                                    <p>$100</p>
                                    <h4>Dona Turquesa</h4>
                                </div>           
                        </article>
                    </div>
                         <div class="subtotal">
                                    <p>$100</p>
                        </div>  
                </div>
                <nav class="main-navcart">
                    <ul class="left-navcart">
                        <li>Subtotal ( sin envío):</li>
                    </ul>
                    <ul class="right-navcart">
                        <li><strong>$100</strong></li>
                    </ul>
                </nav>
                <nav class="main-navcart">
                    <ul class="left-navcart">
                        <li><strong>Total</strong></li>
                    </ul>
                    <ul class="right-navcart">
                        <li><strong>$100</strong></li>
                    </ul>
                </nav>
                <nav class="sell-navcart">
                        <div class="field-div">
                            <button class="field-button-login" type="Send">INICIAR COMPRA</button>
                        </div>
                </nav>
            </section>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <div class="main-footer">
                <div class="control-footer">
                    <h3>INSTITUCIONAL</h3>
                    <nav>
                        <ul>
                            <li><a href="#">Locales</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Formulario de Contacto</a></li>
                            <li><a href="#">Franquicia</a></li>
                            <li><a href="#">Trabaja para Nosotros</a></li>
                        </ul>
                    </nav>  
                </div>
            
                <div class="control-footer">
                    <h3>AYUDA</h3>
                    <nav>
                        <ul>
                            <li><a href="#">Preguntas Frecuentes</a></li>
                            <li><a href="#">Términos y Condiciones</a></li>
                            <li><a href="#">Promociones</a></li>                               
                            <li><button class="button-footer" type="Send">ME ARREPENTÍ</button></li>
                            <p><em><strong>* Solicitud de cancelación de compras</strong></em></p>
                        </ul>
                    </nav> 
                </div>
            
                <div class="control-footer">
                    <nav>
                        <h3>SEGUINOS EN</h3>
                        <div class="icon-footer"><i class="fab fa-facebook-f"></i>
                            <p>Facebook</p>
                        </div>
                        <div class="icon-footer"><i class="fab fa-instagram"></i>
                            <p>Instagram</p>
                        </div>
                        <div class="icon-footer"><i class="fab fa-twitter"></i>
                            <p>Twitter</p>
                        </div>
                        <div class="icon-footer"><i class="fab fa-tiktok"></i>
                            <p>Tik Tok</p>
                        </div>
                        <div class="icon-footer"><i class="fab fa-pinterest"></i>
                            <p>Pinterest</p>
                        </div>
                    </nav>
                </div>  
            </div>
            <div class="extra-footer-bottom">
                <p>&copy; 2021 grupo_10_donuts. Todos los derechos reservados</p>
            </div>
            </footer>
        </div>
    </footer>            
</body>