<!DOCTYPE html>
<html lang="en">
    <head>
<<<<<<< HEAD
        <%- include('./partials/head') %> 
=======
    <!--incluimos partials del head-->
    <%- include('./partials/head') %>

>>>>>>> 7222681d4b12b2dc00eb8ee1119ec1fe09e82dff
        <title>Donas</title>
    </head>
    <body>

    <!--incluimos partials del header-->
    <%- include('./partials/header') %>

        <section class="banner">
            <img src="img/banner2.png" alt="Banner de ofertas">
        </section>
        <main>
            <div class="contendor">
                <section>
                    <h2 class="title-h2">Elige tu Dona</h2>
                    <div class="products">
                        <article>                     
                            <img src="/img/dona-turquesa.jpg" class="product_img" alt="Turquesa">
                                <div class="main-article">
                                    <i class="fab fa-hotjar"></i>
                                    <p class="price">$100</p>
                                    <p class="discount">40% OFF</p>
                                    <a href="/productDetail"><h4 class="description">Dona Turquesa</h4></a>
                                </div>               
                        </article>
                        
                        <article>
                            <img src="/img/dona-fuxia.jpg" class="product_img" alt="fuxia">
                                <div class="main-article">
                                    <img src="/img/ico-donut.jpg" class="ico" alt="Turquesa">
                                    <p class="price">$100</p>
                                    <p class="discount">0% OFF</p>
                                    <h4 class="description">Dona Fuxia</h4>
                                </div>
                        </article>


                        <article>
                            <img src="/img/dona-blanca.jpg" class="product_img" alt="blanca">
                            <div class="main-article">
                                <img src="/img/ico-donut.jpg" class="ico" alt="Blanca">
                                <p class="price">$100</p>
                                <p class="discount">0% OFF</p>
                                <h4 class="description">Dona Blanca</h4>           
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-choco.jpg" class="product_img" alt="choco">
                            <div class="main-article">
                                <img src="/img/ico-donut.jpg" class="ico" alt="Choco">
                                <p class="price">$100</p>
                                <p class="discount">0% OFF</p>
                                <h4 class="description">Dona Blanca</h4>
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-verde.jpg" class="product_img" alt="verde">
                            <div class="main-article">
                                <div class="main-article">
                                    <i class="fab fa-hotjar"></i>
                                    <p class="price">$150</p>
                                    <p class="discount">30% Off</p>
                                    <h4 class="description">Dona Verde</h4>
                                </div> 
                                
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-krispi.jpg" class="product_img" alt="krispi">
                            <div class="main-article">
                                <div class="main-article">
                                    <img src="/img/ico-donut.jpg" class="ico" alt="Turquesa">
                                    <p class="price">$160</p>
                                    <p class="discount">0% OfF</p>
                                    <h4 class="description">Dona Krispi</h4>
                                </div> 
                                
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-glaseada-blanca.jpg" class="product_img" alt="glaseada-blanca">
                            <div class="main-article">
                                <div class="main-article">
                                    <i class="fab fa-hotjar"></i>
                                    <p class="price">$80</p>
                                    <p class="discount">50% Off</p>
                                    <h4 class="description">Dona Glaseada Blanca</h4>
                                </div> 
                           
                            </div>
                        </article>

                        <article>
                            <img src="/img/dona-choco-krispi.jpg" class="product_img" alt="choco-krispi">
                            <div class="main-article">
                                <div class="main-article">
                                    <img src="/img/ico-donut.jpg" class="ico" alt="Turquesa">
                                    <p class="price">$110</p>
                                    <p class="discount">0% OFF</p>
                                    <h4 class="description">Dona Choco-Krispi</h4>
                                </div> 
                            
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </main>

    <!--incluimos partials del footer-->
    <%- include('./partials/footer') %>
    </body>
</html>