<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body class="under-construction">
    <%- include('partials/header') %> 
    <main>
        <div>
            <h1>Página en mantenimiento, volvemos pronto</h1>
        </div>
    </main>
</body>
</html>