<footer>
    <div class="container-footer">
            <div class="control-footer-login">
                <nav>
                    <h3>SEGUINOS EN</h3>
                    <div class="icon-footer-login"><i class="fab fa-facebook-f"></i>
                        <p>Facebook</p>
                    </div>
                    <div class="icon-footer-login"><i class="fab fa-instagram"></i>
                        <p>Instagram</p>
                    </div>
                    <div class="icon-footer-login"><i class="fab fa-twitter"></i>
                        <p>Twitter</p>
                    </div>
                    <div class="icon-footer-login"><i class="fab fa-tiktok"></i>
                        <p>Tik Tok</p>
                    </div>
                    <div class="icon-footer-login"><i class="fab fa-pinterest"></i>
                        <p>Pinterest</p>
                    </div>
                </nav>
            </div>  
        </div>
        <div class="extra-footer-bottom extra-footer-bottom-login">
            <p>&copy; 2021 grupo_10_donuts. Todos los derechos reservados</p>
        </div>
        </footer>
    </div>
</footer>  