<header class="main-header">
            
    <div class="logo-search">
        <div class="main-header-top-bar">
            <a href="/"><img src="/img/logo.png" class="logo"></a>    
            <div class="search">
                <input type="text" placeholder="Search your donut">
                <div class="icono">
                    <i class="fas fa-search"></i>
                </div>
            </div>                    
        </div>        
    </div>
   
    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>
    
    <nav class="main-navbar">
        <ul class="left-navbar">
            <li><a href="#">Donas</a></li>
            <li><a href="/promotions">Promociones </a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="/productCart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>

</header>
