<header class="main-header">
            
    <div class="logo-search">
        <!--comento este div para ir prbando limpiar el codigo
        <div class="main-header-top-bar">
        -->
            <a href="/"><img src="/img/logo.png" class="logo"></a>
            <div>
                <form class="search" method="GET" action="/products/search"> 
                    <input id="input-search" type="text" placeholder="Search your donut" name="keyword">
                    <button id="button-search" disabled><i class="fas fa-search"></i></button>
                </form> 
            <div class="icono">
                
            </div>
            <!--<button id="button-search" disabled>BUSCAR</button> -->
                    
        </div>
        <!--comento este div para ir prbando limpiar el codigo                        
        </div>        
        -->
    </div>
   
    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>
    
    <nav class="main-navbar">
        <% if (locals.isLogged) { %>
        <ul class="left-navbar">
            <li><a href="/">Donas</a></li>
            <li><a href="/products/promotions">Promociones </a></li>
            <li><a href="/help">Ayuda</a></li>
            <li><a href="/products/productCart">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/profile">My profile </a>
            <li><hr class="dropdown-divider"></li>
             <% if (userLogged.id_rol == 1) { %>
                <a class="dropdown-item" href="/users/"> Usuarios </a>
                <li><hr class="dropdown-divider"></li>
                <a class="dropdown-item" href="/products/"> Productos </a>
             <% } %>
            
            <li><hr class="dropdown-divider"></li>
            <a class="dropdown-item" href="/users/logout"> Logout</a>
            
        </ul>
        <% } else { %>
        <ul class="right-navbar">
            <li><a href="/users/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
            <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        </ul>
        <% } %>
    </nav>
    <script src="/js/validationSearch.js"></script>
</header>
