<!DOCTYPE html>
<html lang="en">
<head>
    <!--incluimos partials del head-->
    <%- include('./../partials/head') %>

    <title>Donas - Login</title>
</head>
<body class="body-login">
    <!--incluimos partials del headUser-->
    <%- include('./../partials/headerUser') %>

    <main class="login">
        <div class="contendor">
            <section class="section-login">
                <h3>¡Hola! Ingresá tu usuario, ¿Con qué vas a endulzar tu día?</h3>
                <form action="/" method="POST">
                    <div class="field-div">
                        <label class="label-field login-h2" for="username">Nombre de Usuario:</label>
                        <input  class="field-text" type="text" name="username" id="username"  minlength="3" placeholder="Escribe tu Usuario">
                    </div>
                    <div class="field-div">
                        <label class="label-field login-h2" for="password">Contraseña:</label>
                        <input class="field-text" type="password" name="password" id="password" placeholder="Escribí tu contraseña" class="field-text" minlength="8" pattern=".{8,}">
                    </div>
                    <div class="field-div">
                        <button class="field-button-login" type="Send">Ingresar</button>
                    </div>
                </form>
                <section class="create-account">
                    <h3>¿Eres un nuevo Usuario?</h3>
                    <a href="/register">Creá tu cuenta <i class="fas fa-user-circle"></i></a></li>
                </section>
            </section>
        </div>
    </main>
    <!--incluimos partials del footerUser-->
    <%- include('./../partials/footerUser') %>
</body>
</html>