<!DOCTYPE html>
<html lang="en">
<head>
    <!--incluimos partials del head-->
    <%- include('./../partials/head') %>
    <link rel="stylesheet" href="../css/styles.css">

    <title>Donas - Register</title>
</head>
<body class="body-register">

    <!--incluimos partials del headerUser-->
    <%- include('./../partials/headerUser') %>

        <main class="register">
            <section class="section-register">
                <h3>Creá tu usuario</h3>
                <form action="/" method="POST">
                    <div class="field-div">
                        <label class="label-field register-h2" for="firstname">Nombre:</label>
                        <input class="field-text" type="text" name="firstname" id="fullname" placeholder="Nombre">
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2" for="lastname">Apellido:</label>
                        <input class="field-text" type="text" name="lastname" id="fullname" placeholder="Apellido">
                    </div>
                    <div class="field-div">
                        <label class="label-field  register-h2" for="username">Nombre de Usuario:</label>
                        <input class="field-text" type="text" name="username" id="username" placeholder="Username">
                    </div>
                    <div>
                        <label class="label-field  register-h2" for="birthday">Fecha de Nacimiento:</label>
                        <input class="field-date  register-h2" type="birthday" name="date" id="date" placeholder="Fecha de Nacimiento">
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2" for="email">Dirección:</label>
                        <input class="field-text" type="text" name="email" id="Address" placeholder="Escribe tu dirección">
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2">Intereses</label>
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2"><input type="checkbox" name="myselection" value="dulce_de_leche"> De Dulce De Leche</label>
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2"><input type="checkbox" name="myselection" value="chocolate"> De Chocolate</label>
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2"><input type="checkbox" name="myselection" value="frutalr"> Frutal</label>
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2"><input type="checkbox" name="myselection" value="crema_pastelera"> De Crema Pastelera</label>
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2"><input type="checkbox" name="myselection" value="sorprendeme"> Sorprendeme</label>
                    </div>
                    <div class="field-div">
                    <br>
                        <label class="label-field register-h2" for="avatar">Avatar de Usuario:</label>
                            <input class="field-text  register-h2" type="file"  id="avatar" name="avatar" accept=".png, .jpg" style="color: transparent">
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2" for="password">Contraseña:</label>
                        <input class="field-text" type="password" name="password" id="password" minlength="8" pattern=".{8,}">
                    </div>
                    <div class="field-div">
                        <label class="label-field register-h2" for="confirm-password">Confirmar Contraseña:</label>
                        <input class="field-text" type="password" name="confirm-password" id="confirm-password" minlength="8" pattern=".{8,}">
                    </div>
                    <!-- Responsive
                    <div class="field-div">
                        <button class="button-register" type="Send">Creá tu Cuenta</button>
                        <button class="button-register" type="Reset">Rellena de Nuevo</button>
                    </div>
                
                    </div>
                    -->
                </form>
            <!-- Responsive-->    
             </section>  
             <section>   
                <div class="login-account">
                    <h3>¿Ya tenes usuario?</h3>
                    <a href="/login">Endulza tu día <i class="fas fa-stroopwafel"></i></a></li>
                </div>
                <div class="field-div">
                    <button class="button-register" type="Send">Creá tu Cuenta</button>
                    <button class="button-register" type="Reset">Rellena de Nuevo</button>
                </div>
            </section>  <!--Responsive Register-->
        
        </main>
    <!--incluimos partials del footerUser-->
    <%- include('./../partials/footerUser') %>
</body>
</html>